<%include header.ejs %>
  <body style="text-align: center;">
    <div class="mask"></div>
    <div >
      <video style="width: 100%;height:100%;z-index:-1" controls="controls" autoplay="autoplay" loop="loop" muted="muted">
        <source src="/images/The_IBM_Cloud_Industries.mp4" type="video/mp4"/>
      </video>
    </div>
    <div class="demo">
        <div class="login">
          <img  class="login__check" src="/images/IMG_5741.PNG" style="margin-top: 30px;">
          <span class="w3id" style="margin-left: -210px;">Login with your W3<strong>id</strong></span>
          <div id="login_form" class="login__form">
            <div class="login__row">
              <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
              </svg>
              <input type="email" id="whatso_intranetid" class="login__input name" placeholder="YourIntranetId"/>
            </div>
            <div class="login__row">
              <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
              </svg>
              <input type="password" id="whatso_password" class="login__input pass" placeholder="Password"/>
            </div>
           <span style="font-size:18px;color:aliceblue;top:15px;position:relative;float:left"> <input type="checkbox" id="saveCookie" style="margin-right:15px"/>Remember me?</span>
            <button id="whatso_signin" type="button" class="login__submit">Sign in</button>
            <br>
            <a class="login__signup" href="https://w3idprofile.sso.ibm.com/password/createpwd_lookup_otp.wss" >Forget Password?</a>
          </div>
        </div>
          </div>
        </div> 
        <script  src="/javascripts/index.js"></script>
        <script src="javascripts/whatsologin.js"></script>
  </body>
<%include footer.ejs %>